# Typing Soft for DensanのConfigファイルです

##################
# ユーザー用設定 #
##################

# 記録を保存するか (true / false) Default: true
EnableRecord: true
# 最大記憶記録数 (1 ～ 1000) Default: 100
MaxRecordValue: 100


################
# 開発者用設定 #
################

# デバックモードを有効にするか(true / false) Default: false
EnableDebugMode: false

# 以下の情報は書き換えないでください
ConfigVersion: 1.0.0
